body {
    margin:0;
    background-color: #F2F4F7;
    display: flex;
    flex-direction: row;
    width: 100vw;
}
header {
   margin-top: -20px;
    background-color: #FFFFFF;
    height: 50px;
    width: 100%;
  }
  h1{
      padding: 15px;
      margin-left: 10px;
      color: #535767;
      font-size: 20px;
  }
  .left{
      display: flex;
      flex-direction: column;
      background-color: #1E1E2D;
        width: 20%;
        height: 50rem;
        border: solid 1px #1E1E2D;
  }
  .logoBox{
      width: 100%;
      display: flex;
      justify-content: center;
  }
  .logo{
      display: flex;
      justify-content: center;
    background-color: #4C4E70;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 3rem;
  }
  .logo>p{
    color: #72749A;
    font-size: 20px;
    font-weight: bold;
  }
  .dashboard{
    margin-left: 2rem;
    margin-top: 1rem;
  }
  .dashboard>p{
    color: #72749A;
    font-size: 15px;
    font-weight: bold;
  }
  .right{
    width: 80%;
  }
  .container{
      display: flex;
    justify-content: flex-start;
     flex-wrap: wrap;
     width: 100%;
    
  }
  .card1{
  margin-left: 3rem;
  }
  .card2{
   margin-left: 5rem;
  }
  .card3{
    margin-left: 3rem;
  }
  .topTitle{
      margin-top: -20px;
      margin-left: 15px;
    
  }
  .topSubtitle{
        margin-top: -20px;
        margin-left: 15px;
        color: #BBB4C3;
  }
  .titleItem{
        margin-top: -5px;
        margin-left: 15px;
        color: #B6B4C3;
  }
  .item{
        margin-top: -15px;
        margin-left: 15px;
  }
  .inputItem{
    border: none;
    width: 370px;
    border-bottom: 1px solid #F2F2F5;
    background-color: #FFFFFF;
    color: black;
  }
  .showItem{
      width: 100%;
      margin-top: 20px;
      margin-left: 15px;
  }
  .card{
    background-color: #FFFFFF;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 3rem;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  @media(max-width: 600px) {
    body {
        
        display: flex;
        flex-direction: column;
    }
    .left{
width: 100%;
    } 
  }