body {
    background-color: gray;
}
header {
    
    border: solid;
    
  }
  .container{
    display: block;
  }
  .topTitle{
      margin-top: -20px;
      margin-left: 15px;
    
  }
  .topSubtitle{
        margin-top: -20px;
        margin-left: 15px;
        color: grey;
  }
  .titleItem{
        margin-top: -5px;
        margin-left: 15px;
        color: grey;
  }
  .item{
        margin-top: -15px;
        margin-left: 15px;
  }
  .inputItem{
    border: none;
    width: 370px;
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
    color: black;
  }
  .showItem{
      width: 100%;
      margin-top: 20px;
      margin-left: 15px;
  }
  .card{
    background-color: whitesmoke;
    margin-right: 100rem;
    width: 400px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 3rem;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  